<app-header></app-header>
<div class="container-fluid" >
    
    <div class="panel-dashboard">
        <div class="row">
            <div class="card  border-primary m-1 col-md-5">
                <div class="card-body text-primary">
                  <h1 class="card-title"> {{positivos}}</h1>
                  <p class="card-text"> Casos confirmados</p>
                </div>
            </div>
            <div class="card  border-warning m-1 col-md-5">
                <div class="card-body text-warning">
                  <h1 class="card-title">{{suspeitos}}</h1>
                  <p class="card-text">Casos suspeitos</p>
                </div>
            </div>
            <div class="card  border-success m-1 col-md-5">
                <div class="card-body text-success">
                  <h1 class="card-title"> {{recuperados}}</h1>
                  <p class="card-text">Recuperados</p>
                </div>
            </div>      
            <div class="card  border-danger m-1 col-md-5">
                <div class="card-body text-danger">
                  <h1 class="card-title">  {{mortes}}</h1>
                  
                  <p class="card-text">Total de Mortes</p>
                </div>
            </div>
            <div class="card  border-info m-1 col-md-5">
              <div class="card-body text-info">
                <h1 class="card-title">  {{quarentena}}</h1>
                
                <p class="card-text">Total de Quarentena</p>
              </div>
          </div>
          <div class="card  border-info m-1 col-md-5">
            <div class="card-body text-info">
              <h1 class="card-title">  {{negativos}}</h1>
              
              <p class="card-text">Total de Negativos</p>
            </div>
        </div>
        </div>
    </div>
   
</div>